{#
@span - width of container column (always 12)
@columns - number of columns to fill up
@recursive - search children
#}
{% set span = (span) ? span : 12 %}
{% set columns = (columns) ? columns : 3 %}
{% set recursive = (recursive) ? recursive : true %}

{% for child in page.children %}
{% set class = (child.children_count > 1) ? 'cat-' ~ child.slug : 'project-' ~ child.slug %}
<div class="m-project {{ class }} columns large-{{ span / columns }}{{ loop.index is divisibleby(columns) ? ' last' : '' }}">
  <a href="{{ child.permalink }}">
    <h3 class="title">{{ child.name|default(child.page_name) }}</h3>
    <div class="projectThumb">
      <img src="{{ child.thumb.url|default(child.image['1'].url) }}" alt="{{ child.name|default(child.page_name) ~ ' - ' ~ child.stats.location }}">
    </div>
    {% if child.stats.location %}
    <div class="projectMeta">
      {% for key, stat in child.stats %}
          <div>{{ key }}: {{ stat }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </a>

  {% if child.children and recursive %}
    {# build inital list #}
    {%- set list -%}{% spaceless %}
      {% for sub in child.children if not sub.skip %}
      <li class="{{ class }}-sub {{ class }}-sub-{{ loop.index }}">
        <a href="{{ sub.permalink }}">{{ sub.name|default(sub.page_name) }}{{ sub.stats.location ? ', ' ~ sub.stats.location : '' }}</a>
      </li>
      {% else %}
      {% endfor %}
    {% endspaceless %}{% endset %}

    {# print list #}
    {% if list != '' %}
    <ul class="projectChild">{{ list }}</ul>
    {% endif %}
  {% endif %}

</div>
{{ loop.index is divisibleby(columns) ? '<hr>' : '' }}
{% endfor %}