{#
@columns - number of columns to fill up
@recursive - search children
#}
{% for child in page.children %}
<div class="project span-{{ 24 / columns }}{{ loop.index is divisibleby(columns) ? ' last' : '' }}">
  <a href="{{ child.permalink }}">
    <h2 class="bottom">{{ child.name|default(child.page_name) }}</h2>
    <img src="{{ child.thumb.url }}" alt="{{ child.name|default(child.page_name) ~ ' - ' ~ child.stats.location }}">
    <div class="projectMeta">{{ child.stats.location }}</div>
  </a>

	{% if child.children and recursive %}
		{# build inital list, if empty set false #}
		{% set list %}
			{% for sub in child.children if not sub.skip %}
					<li><a href="{{ sub.permalink }}">{{ sub.name|default(sub.page_name) }}, {{ sub.stats.location }}</a></li>
			{% endfor %}
		{% endset %}

		{# print list #}
		{% if list is not empty %}
		<ul class="projectChild">
			{{ list }}
		</ul>
		{% endif %}
	{% endif %}

</div>
{% endfor %}