{% set h = (h) ? h : 2 %}


<div class="row {{ page.children ? 'project-title' : 'project-subtitle' }}">
    <div class="column small-12">
        <h{{ h }}><a href="{{ page.url }}">{{ page.name|default(page.page_name) }}</a></h{{ h }}>
    </div>
</div>
{% for child in page.children if page.children %}
	<div class="project-group">{% include 'partials/projects/category.html' with { 'page' : child, 'h' : h + 1 } %}</div>
{% else %}
<div class="row">
	<a href="{{ page.url }}" class="small-12 large-2 column project-stats">
		{% if page.stats %}
        <ul class="no-bullet">
        {% for name, stat in page.stats %}
          <li><strong>{{ name|capitalize }}:</strong> {{ stat }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <span class="button">View Project &raquo;</span>
	</a>
	{% for img in page.images if loop.index <= 5 %}
	{% set count = (count) ? count + 1 : 1 %}
	<div class="img-gallery small-4 large-2 column {{ count >3 ? 'hide-for-small' : '' }} {{ count == page.images|length or count == 5 ? 'end' : '' }}">
		<a href="{{ img.url }}" title="{{ page.name|default(page.page_name) }} - {{ img.name }}"><img src="{{ img.small|default(page.thumb.url) }}" alt="{{ img.name }}"></a>
	</div>
	{% endfor %}
</div>
{% endfor %}
