<div class="m-section" data-section="tabs">
{% for child in page.children %}
<section>
  <div class="title" data-section-title><h2><a href="#panel{{ loop.index }}">{{ child.name|default(child.page_name) }}</a></h2></div>
  <div class="content" data-section-content>
    <div class="small-12 large-6 column">
      <ul class="small-5 right panel radius no-bullet">
        {% for nav_child in child.children %}
            <li>
              <a href="{{ nav_child.permalink }}">{{ nav_child.name|default(nav_child.page_name) }}</a>
            </li>
        {% endfor %}
      </ul>
      {{ child.html['content.html'].content }}
      <a class="button" href="{{ child.permalink }}">More...</h2></a>
    </div>
    <div class="m-projects-list small-12 large-6 column">
      <div class="row collapse">
        {% block context %}
        {% for proj in child.children if proj.index <= 4 %}
              <div class="m-pl-project small-6 column">
                {% if proj.children %}
                  {% for proj_child in proj.children %}
                    {% if loop.index == 1 or proj_child.featured %}
                    {% include 'partials/projects/projects_list_content.html' with { 'page' : proj_child } %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% include 'partials/projects/projects_list_content.html' with { 'page' : proj } %}
                {% endif %}
              </div>
    
            {% if loop.index == 2 %}
              </div>
              <div class="row collapse">
              {% endif %}
        {% endfor %}
        {% endblock %}
      </div>
    </div>
  </div>
</section>
{% endfor %}
</div>
