
    <footer id="footer">
      <div class="row">
        <div class="small-6 large-3 large-offset-3 column">
          <h1>Let's Get Started</h1>
          <p class="lead">
            <span class="phone"><strong>Office:</strong> 404-477-2024</span><br>
            <span class="fax"><strong>Fax:</strong> 404-477-2039</span><br>
            <span class="cell"><strong>Cell:</strong> 404-276-9128</span>
          </p>
          <p class="lead">335 Eureka Dr. <br>Atlanta, GA 30305</p>
        </div>
        <div class="small-6 large-3 column end">
          <img class="img-circle" src="http://maps.google.com/maps/api/staticmap?center=33.819945,-84.376373&zoom=13&markers=color:green|33.820518,-84.376541&size=300x300&sensor=false" alt="">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="copyright text-center"><h4>&copy; Copyright <strong>{{ page.site.title }}</strong> {{ page.current_year }}</h4></div>
        <div class="text-center"><h6><a href="#top">Back to top</a></h6></div>
      </div>
    </footer>
  <!-- scripts -->
  
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ page.root_path }}public/assets/js/jquery-2.0.2.min.js"><\/script>')</script>
 

  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/plugins/jquery.fittext.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/plugins/jquery.magnific.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.topbar.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.section.js"></script>

  <!-- default script -->
  <script type="text/javascript" src="{{ page.root_path }}/public/assets/js/default_script.js"></script>


  {% if page.google_analytics %}
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','{{ page.google_analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}
  </body>
</html>