
    <div id="footer">&copy; Copyright {{ page.domain_name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a></div>
  <!-- scripts -->
  {% if page.jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ page.root_path }}/public/docs/js/jquery-1.7.2.js"><\/script>')</script>
  {% endif %}
  {% if page.js_cycle %}
  <script type="text/javascript" src="{{ page.root_path }}/public/docs/js/jquery.cycle.full.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}/public/docs/js/jquery.imagefit-0.2.js"></script>
  {% endif %}

  {% if page.html['script.html'] %}
  	{{ page.html['script.html'].content }}
  {% else %}
  <!-- default script -->
	<script type="text/javascript">
		$('#slideshow').cycle({ 
			fx:     'fade', 
			speed:  'fast'`
		});
	</script>
  {% endif %}


  {% if page.google_analytics %}
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','{{ page.google_analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}
  </body>
</html>