
    <div id="footer">&copy; Copyright {{ page.domain_name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a></div>
  <!-- scripts -->
  
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ page.root_path }}public/assets/js/jquery-2.0.2.min.js"><\/script>')</script>
 

  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/plugins/jquery.fittext.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/plugins/jquery.magnific.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.topbar.js"></script>
  <script type="text/javascript" src="{{ page.root_path }}public/assets/js/foundation/foundation.section.js"></script>
  <script>
    $(document).foundation();
    $('.img-gallery').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery:{enabled:true}
    });
  </script>

  {% if page.js_default %}
  <!-- default script -->
  <script type="text/javascript" src="{{ page.root_path }}/public/assets/js/default_script.js"></script>
  {% endif %}


  {% if page.google_analytics %}
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','{{ page.google_analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}
  </body>
</html>