<div class="sibling-wrapper row">
	<div class="small-12 column text-center">
		<h4>Other <a href="{{ page.parent[0].permalink }}">{{ page.parent[0].name|default(page.parent[0].page_name) }}</a> {{ (page.parent[0].page_name|lower != 'projects') ? 'Projects' : '' }}</h4>
	</div>
	<div class="small-6 column end">
		<div class="m-sibling prev">
			{% if page.previous_sibling[0] %}
			<a href="{{ page.previous_sibling[0].permalink }}" style="background-image: url({{ page.previous_sibling[0].thumb.url }})" alt="{{ page.previous_sibling[0].name|default(page.previous_sibling[0].page_name) }}">
				<div class="details">
					<h4>{{ page.previous_sibling[0].name|default(page.previous_sibling[0].page_name) }}</h4>
				</div>
			{% else %}
				{% for sibling in page.siblings|reverse if loop.first and page.siblings|length > 1 %}
			<a href="{{ sibling.permalink }}" style="background-image: url({{ sibling.thumb.url }})" alt="{{ sibling.name|default(sibling.page_name) }}">
				<div class="details">
					<h4>{{ sibling.name|default(sibling.page_name) }}</h4>
				</div>
				{% endfor %}
			{% endif %}
			</a>
		</div>
	</div>
	<div class="small-6 column">
		<div class="m-sibling next right">
			{% if page.next_sibling[0] %}
			<a href="{{ page.next_sibling[0].permalink }}" style="background-image: url({{ page.next_sibling[0].thumb.url }})" alt="{{ page.next_sibling[0].name|default(page.next_sibling[0].page_name) }}">
				<div class="details">
					<h4>{{ page.next_sibling[0].name|default(page.next_sibling[0].page_name) }}</h4>
				</div>
			{% else %}
				{% for sibling in page.siblings if loop.first and page.siblings|length > 1 %}
			<a href="{{ sibling.permalink }}" style="background-image: url({{ sibling.thumb.url }})" alt="{{ sibling.name|default(sibling.page_name) }}">
				<div class="details">
					<h4>{{ sibling.name|default(sibling.page_name) }}</h4>
				</div>
				{% endfor %}
			{% endif %}
			</a>
		</div>
	</div>
</div>