{% set parent = page %}

{% for child in page.children %}
	{% if child.featured %}
		{% for html in child.html if child.html %}
			<div class="html parent_{{ parent.slug|default('none') }}">
				{{ html.content }}
			</div>
		{% endfor %}
		{% for image in child.images %}
			<div class="image parent_{{ parent.slug|default('none') }}">
				<div class="frame">
					<img src="{{ image.url }}" alt="{{ image.title }}">
					<div class="meta hidden">
						<span class="titleCase"><a href="{{ parent.url }}">{{ image.name }}</a></span>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	{% include 'partials/slideshow/slideshow.html' with {'settings' : settings, 'page' : child } %}
{% endfor %}