{#
@id - slideshow ID default: slideshow
@nav - show nav? default: slideshow_nav.html
@searchLocation - where to look for files default: false
@deepSearch - search down to a specific folder default: false
@allowed - array of allowed file types default: ['html','images']
@slides - array of content to build into slideshow default: page
#}
{% set id = (id) ? id : 'slideshow' %}
{% set nav = (nav) ? nav : 'slideshow_nav.html' %}
{% set searchLocation = (searchLocation) ? searchLocation : false %}
{% set deepSearch = (deepSearch) ? deepSearch : false %}
{% set allowed = (allowed) ? allowed : ['images'] %}
{% set slides = (slides) ? slides : page  %}

{% set html,images = {'images':null},{'html':null} %}

{% if not deepSearch and searchLocation %}

	{% set i = 0 %}
	{% for search in page.children if search == searchLocation %}
		{% set html = (i > 0) ? html|merge(search.html) : search.html %}
		{% set images = (i > 0) ? images|merge(search.images) : search.images %}
	{% endfor %}

	{% set slides = {'images' : images, 'html' : html } %}

{% elseif deepSearch and searchLocation %}
	
{% endif %}

{% include 'partials/slideshow/' ~ nav %}

<div id="{{ id }}" style="display:none;">

{% if ('html' in allowed) and slides.html %}
	{% for slide in slides.html %}
			<div class="html">
				{{ slide.content }}
			</div>
	{% endfor %}
{% endif %}

{% if ('images' in allowed) and slides.images %}
	{% for slide in slides.images %}
			<div class="image">
				<img src="{{ slide.url }}" alt="{{ slide.title }}">
				<div class="meta ">
					<span class="titleCase">{{ slide.name }}</span>
				</div>
			</div>
	{% endfor %}
{% endif %}
</div>

<!-- <div style="color:red">
	{% include 'partials/test.html' with {'test':slides} %}
</div> -->