@mixin transition($property, $duration, $ms: false) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	@if ($ms) {
		-ms-transition: $property $duration ease-in-out;
	}
	transition: $property $duration ease-in-out;
}

// Layout

hr.space { border-color: transparent; }

.img-circle { border-radius: 500px; }

.margin-bottom { margin-bottom: 1.5em !important; }

.fixed-width {
	max-width: 1000px;
	margin: 0 auto;
}

@media #{$small} {
	.large-2.large-fifth {
		width: 20%;
	}
}

.text-column {
	-webkit-columns:3;
	-moz-columns:3;
	columns:3;
}

#projects .m-section {
	
	.title {
		border-color: #FFF #FFF #CCC;
		border-style: solid;
		border-width: 1px;
		padding: 0 $column-gutter;
		text-align: center;
		text-transform: uppercase;
		// width: 33%;
		@include transition(border, 500ms);

		h2 {
			margin-bottom: 0;
		}

		&:hover {
		}
	}

	.title:nth-child(2) {
		// width: 34%;
	}

	.content {
		border-top: 1px solid #CCC;
		padding: $column-gutter 0;
	}

	section.active {
		
		.title {
			border-color: #CCC #CCC #FFF #CCC;
			z-index: 100;

			a {
				color: $body-font-color;
			}
		}
	}
}

#projects > .project-group:first-child .project-title {
	padding-top: 0;
}

.project-group {

	.project-title {
		border-bottom: 1px solid #CCC;
	}

	& .project-group .project-title {
		border:none;
	}

	& .project-group {
		border-left: 1px solid #CCC;
		margin-left: $column-gutter;
	}

	.row:first-child {
		padding-top: $column-gutter;
	}

	.row:last-child {
		border-bottom: 1px solid #CCC;
		padding-bottom: $column-gutter;
	}
}

// Modules

.m-projects-list {

}

	.m-pl-project {
		position: relative;;

		.m-pl-thumb {
			min-width: 100%;
		}

		.m-pl-title {
			background-color: rgba(#000, 0.4);
			color:white;
			margin: 0;
			padding: 0 .5em;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			@include transition(all, 800ms);
		}

		a:hover .m-pl-title {
			background-color: rgba(#000, 0.8);
			color:$primary-color;
			padding-bottom:1em;
			@include transition(all, 200ms);
		}
	}

.m-consultants {
	.info {
		font-size: 80%;
		.profile {
			text-align: justify;
		}
	}
}

// Theme

.top-bar-section .dropdown {
	border-left: 1px solid $topbar-link-bg-hover;
	border-bottom: 1px solid $topbar-link-bg-hover;
}

.m-project {
	.title {
		background-color: rgba(0, 0, 0, 0.25);
	    color: white;
	    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	}
}

// State

.m-project a {
	.title {
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
		filter: alpha(opacity=85);
		opacity: 0.85;
	}
	&:hover .title {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}
}