{% include 'partials/header.html' %}
  {% include 'partials/title_bar.html' %}
  {% include 'partials/bread_crumb.html' %}
    <div class="row">
      <div class="large-6 column">
        <h1>{{ page.name|default(page.page_name) }}</h1>
        <div class="right">
          {% for img in page.images if loop.first %}
          <img class="block" src="{{ img.url }}" alt="{{ img.name }}">
          <p class="caption small bottom">{{ img.name }}</p>
          {% endfor %}
        </div>
        {{ page.bodyCopy ? page.bodyCopy : page.html['body.html'].content }}
      </div>
      <div class="large-6 column">
        <h1>{{ page.subtitle }}</h1>
        <h2>George Hornbein</h2>
        <div class="row">
          <div class="small-3 column text-center"><a href="{{ page.children['1.George-Hornbein'].permalink }}"><img src="./content/1.about/1.George-Hornbein/george_headshot.jpg" alt=""></a></div>
          <div class="small-9 column">
            <p class="lead">Is a founding partner of Studio ALA, LLC. He has been the Project Manager, Design Architect and Architect of Record on numerous government projects over the last 20 years, many of which have incorporated sustainable design features.</p>
            <a href="{{ page.children['1.George-Hornbein'].permalink }}" class="button small">Read More...</a>
          </div>
        </div>
        <hr>
        <h2>Consultants</h2>
        <div id="consultant" class="m-consultants">
          {% set people = get('/about/consultants') %}
          {% for con in people.children %}

          <div class="row margin-bottom">
            <div class="small-3 column">
              {% for img in con.images if loop.first %}
                <img src="{{ img }}" alt="" class="profile img-circle">
              {% endfor %}
            </div>
            <div class="info small-9 column">
              <h2 class="name fit">{{ con.name }}</h2>
              <h6 class="position">{{ con.position }}</h6>
              <h6 class="firm">{{ con.firm }}</h6>
              <h4 class="title">{{ con.title }}</h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% include 'partials/footer.html' %}
