{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    <div class="row">
      <div id="projectTitle">
        <h1>{{ page.name|default(page.page_name) }}</h1>
      </div>
      <hr>
      <div id="textBody" class="large-6 column">
        <div class="ast right prepend-1 alignRight fitBaseline">
          {% for img in page.images if loop.first %}
          <img class="block" src="{{ img.url }}" alt="{{ img.title }}">
          <p class="caption small bottom">{{ img.description }}</p>
          {% endfor %}
        </div>
        {{ page.bodyCopy ? page.bodyCopy : page.html['body.html'].content }}
      </div>
      <div id="textSideBar" class="large-6 column">
        <div id="whoWeAre">
          <h3>Team Members</h3>
          {% for employee in page.children if employee.employee %}
            {% include 'partials/employee_list.html' with {'employee': employee } %}
          {% endfor %}
        </div>
        {{ page.sideBarCopy ? page.sideBarCopy : page.html['sidebar.html'].content }}

        {% for img in page.images %}
          {% if not loop.first %}
          <div class="textSideBarImg fitBaseline">
            <img src="{{ img.url }}" alt="{{ img.title }}">
            <p class="caption small bottom">{{ img.name }}</p>
          </div>
          {% endif %}
        {% else %}
        <hr>
        {% endfor %}
      </div>
    </div>
{% include 'partials/footer.html' %}
