{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    <div class="container">
      <div id="projectTitle">
        <h1>{{ page.name|default(page.page_name) }}</h1>
      </div>
    </div>
    <div id="projects">
    	{% for child in page.children %}
    		<h1>{{ child.name|default(child.page_name) }}</h1>
			{% include 'partials/projects/project_list.html' with { 'columns': page.columns|default(3), 'page' : child } %}
    	{% endfor %}
    </div>
{% include 'partials/footer.html' %}
