{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    <div class="container">
      <div id="projectTitle">
        {% include 'partials/bread_crumb.html' %}
        <h1>{{ page.name|default(page.page_name) }}</h1>
      </div>
    </div>
    <div id="featured" class="hide">
        <div id="slideshowWrapper" class="container">
            {% include 'partials/slideshow/slideshow_nav.html' %}

            <div id="{{ page.slideshow.id|default('slideshow') }}" class="slideshow" style="display:none;">
              {% include 'partials/slideshow/slideshow.html' with {'page' : page } %}
            </div>
        </div>
    </div>
    <div class="container projectsList">
      {% include 'partials/projects/categories.html' with { 'columns': 3, 'recursive' : recursive } %}
    </div>
{% include 'partials/footer.html' %}
