{% include 'partials/header.html' %}
  {% include 'partials/title_bar.html' %}
  {% include 'partials/bread_crumb.html' %}
  <div class="wrapper fixed-width">
    <div class="row">
      <div class="small-12 column">
        <div class="row collapse">
          {% for img in page.images if loop.first %}
          <div class="small-4 right text-right">
            <img class="img-circle" src="{{ img.small|default(img.url) }}" alt="{{ img.name }}"></a>
          </div>
          {% endfor %}
          <h1 class="small-8">{{ page.name|default(page.page_name) }}<br><small>{{ page.title }}</small></h1>
          <h2 class="small-8">{{ page.firm }}<br><small>{{ page.position }}</small></h2>
          
          <div class="projectContent">
            <h4>Professional Background</h4>
            {{ page.files['content.html'].content|default(page.content) }}
          
            {% if page.projects %}
            <ul class="projectsExperience">
              {% for proj in page.projects %}
              <li>{{ proj }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          
          <h4>Professional Experience</h4>
          <ul class="experience">
            {% for exp in page.experience %}
                <li>{{ exp }}</li>
            {% endfor %}
          
            {% if page.education %}
                <li class="divider"></li>
              {% for edu in page.education %}
                <li>{{ edu }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    {% include 'partials/employee_list.html' %}

  </div>
{% include 'partials/footer.html' %}
