{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    
    <div class="row">
      <div class="large-4 column">
        <h1>{{ page.meta.title|default(page.page_name) }}</h1>
        <p class="lead">{{ page.meta.description }}</p>
        <a href="{{ page.root_path }}?/about/" class="button small">About us</a> <a href="#projects" class="button small secondary">More...</a>
      </div>
      <div class="large-8 column"><img src="http://placekitten.com/940/400" alt=""></div>
    </div>
    
    <hr class="space">

    <div id="projects" class="row collapse">
      {% for child in page.root if child.index == 2 %}
        {% include 'partials/projects/categories.html' with { 'columns': 3, 'recursive' : recursive, 'page' : child } %}
      {% endfor %}
    </div>

    <div id="people" class="row">
      <div class="large-4 column"><img src="{{ page.children['1.About'].children['1.George Hornbein'].images[0] }}" alt=""></div>
    </div>

{% include 'partials/footer.html' %}