{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    <div class="container">
      <div id="title">
        <h1 class="column colborder">{{ page.name|default(page.page_name) }}</h1>
        <div class="span-16 last" id="about_text">{{ page.about_copy }} <a href="{{ page.root_path }}?/about/">Learn More</a></div>
      </div>
    </div>
    <div id="featured">
        <div id="slideshowWrapper" class="container">
            {% include 'partials/slideshow.html' %}
        </div>
    </div>
    <div class="container">
      <div class="span-16 colborder categoryList">
        <h2 class="bottom">What we do</h2><hr>
        {% for proj in page.root if proj.index == 2 %}
            {% set slideshow = {
              'deepSearch' : true,
              'searchLocation': page.children['1.featured']
              } 
            %}
            {% include 'partials/slideshow/slideshow.html' with slideshow %}
        {% endfor %}
      </div>
      <div class="span-7 last sidebar">
        <div id="whoWeAre">
          <h2>Who We Are</h2>
          {% for about in page.root if about.index == 1 %}
            {% for employee in about.children if employee.employee %}
              {% include 'partials/employee_list.html' with {'employee': employee } %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
{% include 'partials/footer.html' %}