{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    {% include 'partials/bread_crumb.html' %}
    <div class="container">
      <div id="projectTitle" class="row">
        <div class="small-12 column">
            <h1>{{ page.name|default(page.page_name) }}
          {% for child in page.children %}
              <small>: <a href="#{{ child.slug|lower }}">{{ child.name|default(child.page_name) }}</a></small>
          {% endfor %}
        </h1>
        </div>
      </div>
    </div>
    <div id="projects">
        {% include 'partials/projects/home_categories.html' with { 'columns': 1, 'depth' : 2, 'page' : page } %}
    </div>
{% include 'partials/footer.html' %}
