{% include 'partials/header.html' %}
  {% include 'partials/title_bar.html' %}
  {% include 'partials/bread_crumb.html' %}
  <div class="wrapper">
    <div class="row">
      <div class="small-12 column">
        <h1>{{ page.name|default(page.page_name) }}</h1>
      </div>
      <div class="small-12 large-4 column">

        {% if page.files['content.html'] %}
        <div class="projectContent project-content-html">{{ page.files['content.html'].content }}</div>
        {% elseif page.content %}
        <div class="projectContent project-content-yaml">{{ page.content }}</div>
        {% endif %}

        {% if page.stats %}
        <ul class="no-bullet">
        {% for name, stat in page.stats %}
          <li><strong>{{ name|capitalize }}:</strong> {{ stat }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if page.awards %}
        <h2>Awards</h2>
        <ul>
        {% for award in page.awards %}
          <li>{{ award }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <p class="small"><em>{{ page.footnote }}</em></p>
      </div>
      <div class="small-12 large-8 column">
        <ul class="img-gallery small-block-grid-{{ page.images|length }}">
        {% for img in page.images %}
        <li class="text-center">
          <a href="{{ img.url }}" title="{{ img.name }}"><img class="th" src="{{ img.small|default(img.url) }}" alt="{{ img.name }}"></a>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% include 'partials/siblings.html' %}

  </div>
{% include 'partials/footer.html' %}
