{% include 'partials/header.html' %}
  {% include 'partials/title_bar.html' %}
  <div class="wrapper">
    <div class="row">
      <h1>{{ page.page_name }}</h1>
      {% for img in page.images if loop.first %}
      <img class="block" src="{{ img.url }}" alt="{{ img.name }}">
      {% endfor %}
    </div>

    {% if page.files['content.md'] %}
      <div class="row">
        {{ page.files['content.md'].content }}
      </div>
    {% endif %}

    {% if page.stats %}
    <ul>
    {% for name, stat in page.stats %}
      <li>{{ name }}: {{ stat }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <h2>Awards</h2>
    {% if page.awards %}
    <ul>
    {% for award in page.awards %}
      <li>{{ award }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% for img in page.images %}
        <div class="m-picture">
          <div class="th">
            <img src="{{ img.url }}" alt="{{ img.name }}">
          </div>
          <div>{{ img.name }}</div>
        </div>
    {% endfor %}

  </div>
{% include 'partials/footer.html' %}
