{% include 'partials/header.html' %}
    {% include 'partials/title_bar.html' %}
    {% for con in page.consultants %}
      {{ con.name }} <br>
      {{ con.firm }} <br>
      {{ con.title }} <br>
      {{ con.profile }}
    {% endfor %}
    <hr>
    <div class="container">
      <div id="projectTitle">
        {% include 'partials/bread_crumb.html' %}
        <h1>{{ page.name|default(page.page_name) }}</h1>
      </div>
      <hr>
      <div id="textBody" class="span-16">
        <div class="span-8 last right prepend-1 alignRight fitBaseline">
          {% for img in page.images if loop.first %}
          <img class="block" src="{{ img.url }}" alt="{{ img.title }}">
          <p class="caption small bottom">{{ img.description }}</p>
          {% endfor %}
        </div>
        {{ page.bodyCopy ? page.bodyCopy : page.html['body.html'].content }}
      </div>
      <div id="textSideBar" class="span-8 last">
        {{ page.sideBarCopy ? page.sideBarCopy : page.html['sidebar.html'].content }}
        {% if page.employee %}
        <h2 class="bottom">Other Team Members</h2>
        <hr>
          {% for sibling in page.siblings if sibling.employee %}
              {% include 'partials/employee_list.html' with {'employee':sibling} %}
          {% endfor %}
        {% endif %}
        {% for img in page.images %}
          {% if not loop.first %}
          <div class="textSideBarImg fitBaseline">
            <img src="{{ img.url }}" alt="{{ img.title }}">
            <p class="caption small bottom">{{ img.description }}</p>
          </div>
          {% endif %}
        {% else %}
        <hr>
        {% endfor %}
      </div>
    </div>
{% include 'partials/footer.html' %}
